/animal.py
/calculator.py
/cat.py
/class
/classes.py
/DE.ipynb
/dog.py
/Functions.py
/helpers.py
/index.html
/list.py
/list2.py
/loop.py
/main.py
/operator_if.py
/practice1.py
/practice2.py
/Practise_base.ipynb
/primer2.py
/scraping.ipynb
/strings.py
/tuples.py
/zadacha.py
/zadacha2.py
/__pycache__